<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Resque{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/resque/css/bootstrap.min.css') }}"/>
            <style>
                body {
                    padding-top: 70px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/resque/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/resque/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
